.footer{
    width: 100%;
    height: 130%;
    position: relative;
    transform: translate(0%,-100%);
    
    top: 650px;
    background-color: black;


}


.container p{
    color: white;
    background-color: black;
}